html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/*typography*/

h1, h2, h3{
    text-align: center;
}

h1, h2{
    color: #EED6D3;
    margin: 0;
}

h1{
    font-size: 28px;
}

h2 {
    font-size: 16px;
}

h3{
    margin: 25px;
}

/* layout */

header{
    background-color: #67595E;
}

.header-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 370px;
    gap: 15px;
    padding: 10px 0 0 0;
}

.pumpkin-img{
    width: 80px;
}

.controls-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
}